<?xml version="1.0"?>

<!-- Author: Garrison Johnston 12/2025 -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="meca500_ros2_control" params="name initial_positions_file hardware_plugin robot_ip robot_port">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>
        
        <ros2_control name="${name}" type="system">
        <hardware>
            <plugin>${hardware_plugin}</plugin>
            <param name="robot_ip">${robot_ip}</param>
            <param name="robot_port">${robot_port}</param>
        </hardware>

        <joint name="joint1">
            <command_interface name="position"/>
            <state_interface name="position"/>

        </joint>
        <joint name="joint2">
            <command_interface name="position"/>
            <state_interface name="position"/>

        </joint>
        <joint name="joint3">
            <command_interface name="position"/>
            <state_interface name="position"/>

        </joint>
        <joint name="joint4">
            <command_interface name="position"/>
            <state_interface name="position"/>

        </joint>
        <joint name="joint5">
            <command_interface name="position"/>
            <state_interface name="position"/>

        </joint>
        <joint name="joint6">
            <command_interface name="position"/>
            <state_interface name="position"/>

        </joint>
        </ros2_control>
    </xacro:macro>
</robot>
